body {
  font-family: 'DM Serif Display', serif;  
  background-color: #F8F0E3;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div#my-drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
}

div.drink-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%/4 - 1rem);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
}
