.my-drinks{
    display: flex;
    flex-direction: column;
    align-items: center;

  
}
.drinkimg{
    width: 100%;
    height: 100%;
    align-items: center;
border-radius: 50%;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
border: 1px solid;
padding: 2px;

}

/* .drink-info{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */

hr.hr-mydrinks{
   width:10rem;
   margin-left: auto;margin-right: 50%;

}

.drinkname{
    text-align: center;
    color: black;
    font-size: 20px
}

.drinkname:hover {
    text-shadow: -.25px -.25px 0 blue, 
    .5px .5px black;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.recipebutton{
    background-color: transparent;
    padding: 0.5rem 1rem;
margin-right: 7px;
font-family: 'DM Serif Display', serif;  
position: relative;
bottom: 20px;
border-radius: 0.2rem;
letter-spacing: 0.1rem;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
color: black
}
.bothbuttons{
display: flex;
}



.recipebutton:hover{
    text-shadow: -.25px -.25px 0 blue, 
    .5px .5px black;
}
.removebutton{
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-family: 'DM Serif Display', serif;  
    position: relative;
bottom: 20px;

letter-spacing: 0.1rem;
border-radius: 0.2rem;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.removebutton:hover{
    text-shadow: -.25px -.25px 0 blue, 
    .5px .5px black;

}

.form-control {
    background-color: transparent;
    border: 1.5px solid;
    padding: 10px;
    font-family: 'DM Serif Display', serif;  
width: 30rem;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
text-align: left;
/* border-radius: 30px; */
}



.dropdownlink:hover {
    text-shadow: -.25px -.25px 0 blue, 
    .5px .5px black;
}


p.instructions{
    font-style: italic;
    width: 18rem;
    padding: 5px 15px
}

.mydrinks {
    bottom: 20px;
    position: relative;
}
.nameofdrink{
    color: black;
    text-transform: capitalize;
    padding: 5px

}
.nameofdrink:hover{
    text-shadow: -.25px -.25px 0 black, 
    .5px .5px black;
}
.edit{
    background-color: transparent;
    padding: 0.5rem .7rem;
    font-family: 'DM Serif Display', serif;  
    position: relative;
bottom: 20px;
letter-spacing: 0.1rem;
border-radius: 0.2rem;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.trash{
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-family: 'DM Serif Display', serif;  
    position: relative;
bottom: 20px;
left: 10px;
letter-spacing: 0.1rem;
border-radius: 0.2rem;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.buttons{
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    margin-left: 5rem;
    margin-top: 3rem;
}
.drinknamehr{
    position:relative;
    bottom: 15px
}

.bothbuttons{
    position: relative;
    top: 20px;
}
.topdrinkshr{
    width: 70rem
}

.drink-everything{
    display: flex;
    justify-content: space-evenly;
}

.colorblack{
    color: black
}

/* MY DRINK */

h2.drink-nameh1{
    text-align: center;
}
.singledrinkimg{
border-radius: 50%;
border: 1px solid  ;
padding: 5px;
width: 400px;
height: 400px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);


}
.wholecontainer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding: 40px
}

  .wholething{
--s: 10px; /* control the size */
padding: var(--s);
border: calc(2*var(--s)) solid #0000;
outline: 1px solid #000;
outline-offset: calc(-1*var(--s));
background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
position: relative;
  }

  .my-drinks-page{
    --s: 10px; /* control the size */
padding: var(--s);
border: calc(2*var(--s)) solid #0000;
outline: 1px solid #000;
outline-offset: calc(-1*var(--s));
background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
position: relative;
  }
  .drinkshrr{
    top: 20px
  }