.listofingredients {
    /* overflow: scroll;
    width: 500px;
    height: 400px;
    background-color: #E4DCCF;
    border: 2px solid; */
}
.unorderedlist{
    list-style: none;
}

.addingredients{
    text-align: left;
}

.myingredients{
    text-align: left;

}

.inputingredient{
    background-color: transparent;
    height: 34px;
    width: 20rem
}

.addtopantry{
    text-align: center;
    border-radius: 5px;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 10px;
}

.removefrompantry{
    background-color: #f1e0d8;
    height: 40px;
    font-family: 'DM Serif Display', serif;  
    letter-spacing: 0.1rem;
}

.thereare{
    font-size: 13px;
    font-style: italic;
    position: relative;
    right: 1px
}

.overflow {
    /* overflow: scroll;
    width: 500px;
    height: 200px;
    border: 2px solid;
    background-color: #E4DCCF;
    padding: 5px 35px
    */
    list-style: none;
} 

.addtopantrybutton{
    background-color: #f1e0d8;
    height: 40px;
    font-family: 'DM Serif Display', serif;  
    letter-spacing: 0.1rem;
}

.outofstock{
    text-align: left;
}

.out-of-stock{
    border-radius: 5px;
    background-color: #f1e0d8;
    padding: 10px 10px;
    position: relative;
    top: 3rem
}

.img{
    border-radius: 15rem;
    background-repeat: repeat;
}

.oos{
    /* display: flex; */
    padding: 5px;
    position: relative;
    right:100px
}

.entireaddingredients{
  position: relative;
  bottom: 20px;

}

.middlehr{
    width: 650px
}

.oosname{
    padding: 5px 10px;
    text-align: left;
}

.middlehr1{
    width: 80rem
}

.my-ingredientsflex{
    display: flex;
    justify-content: space-evenly;
    padding: 4rem
}

.ingredient-names{
    padding: 5px
}

.linktorecipes{
    font-style: italic;
    color: black
}

.ingr{
    padding: 5px;
    position: relative; 
    right: 50px
}

.tophr{
    width: 35rem
}

.everything{
    --s: 10px; /* control the size */
padding: var(--s);
border: calc(2*var(--s)) solid #0000;
outline: 1px solid #000;
outline-offset: calc(-1*var(--s));
background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
position: relative;
}
.nameofpantryy{
    text-align: left;
}
.unorderedlist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;

}

.pantryhrr{
    width: 30rem
}
.linkblack{
    color: black
}
.oosbuttons{
    text-align: left;
display: flex; 

}
.img1{
    border-radius: 50%;

}