
.firstrow {
    text-align: center;
}

.secondrow {
    display: flex;
    justify-content: center; 
    letter-spacing: .1rem;
}
.secondrowlogin{
    display: flex;
    justify-content: center; 
}

.drink:hover{
    text-shadow: -.25px -.25px 0 black, 
    .25px .25px black;
}
.drink{
    font-size: 15px;
    letter-spacing: .01rem;

}

hr {
    width: 60%;margin-left: auto;margin-right: auto;
    border: 0;
    height: 1px;
    background: #333;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 9px;
    width: 100%;
    text-align: center;
    margin-top: -180px;
}

.fa {
    color: black;
    width: 50px;
    position: relative;
    bottom: 1px 
}

.fa-facebook {
    font-size: 18px;
}

.fa-instagram {
    font-size:18px;
}

.fa-twitter {
    font-size: 18px;
}

.topdrinksforfall{
    border: 1px solid;
    width: 26rem;
    text-align: center;
    padding: 20px;
    border-radius: 3rem;
}

.falldrinks{
 border-radius: 10px;
}

.falldrinks1{
    text-align: center;
}

.topdrinksforapples{
    border: 1px solid;
    width: 30rem;
    text-align: center;
    padding: 20px;
}

.row1{
    display: flex;
    justify-content: space-evenly;
}

.info {
    font-size: 12px; 
}

.mainimage {
    opacity: 0.8;
    border-radius: 15rem;

}
 
.firsthalf {
    display: flex;
    justify-content:  center;
 

}

.definition{
    /* border: 1px solid; */
    position: relative;
    margin-bottom: 10rem;
    left: 25px;
    top: 50px;
    width: 40rem;
   
}

.drinktitle{
    font-weight: bold;
}

.italic {
    font-style: italic;
}

hr.definitionhr{
    width: 95%;margin-left: auto;margin-right: 50%;
    border: 0;
    height: 1px;
    background: #333;
}