.profile{
    text-align: center;
    border: 1px solid;
    margin-top: 30px;
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 10px;
    background-color: #f1e0d8;

}

.myprofile{
font-size: 20px;
}
